﻿@model crudClientes.Models.Cliente

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditoCliente" class="control-label"></label>
                <input asp-for="CreditoCliente" class="form-control" />
                <span asp-validation-for="CreditoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadCliente" class="control-label"></label>
                <input asp-for="EdadCliente" class="form-control" />
                <span asp-validation-for="EdadCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoCliente" class="control-label"></label>
                <input asp-for="CorreoCliente" class="form-control" />
                <span asp-validation-for="CorreoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
