﻿@model IEnumerable<crudClientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Crear">Agregar Usuario</a>

</p>
<!-- Buscador -->
    <form asp-action="Index" method="GET">
    <p>
        <input type="search" placeholder="Ingrese nombre o email" name="busquedaCliente"
               value="@ViewData["GetClienteDetalle"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver Todos</a>
    </p>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoCliente)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdCliente }) |
                    @Html.ActionLink("Detalle", "Detalle", new { id = item.IdCliente }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdCliente })
                </td>
            </tr>
        }
    </tbody>
</table>
